
<div class="pageheader">
  <button mat-icon-button routerLink="/" class="pageheaderbtnleft" color="accent">
    <mat-icon svgIcon="home"></mat-icon>
  </button>
  
  <button mat-icon-button routerLink="/subject" color="accent">
    <mat-icon svgIcon="create"></mat-icon>
  </button>
  <button mat-icon-button routerLink="/subjects" class="pageheaderbtn" color="accent">
    <mat-icon svgIcon="list"></mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
